<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--Shortcut Icon-->
    <link rel="icon" href="/assets/img/logo/favicon.png">
    <!--Bootstrap Min Css-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!--Macnific Popup Css-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!--Owl Carousel min Css-->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!--Owl theme Default Css-->
    <link rel="stylesheet" href="/assets/css/owl.theme.default.css">
    <!--nice select Css-->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!--Glyphter Css-->
    <link rel="stylesheet" href="/assets/glyphter-font/css/Glyphter.css">
    <!--animation Css-->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/assets/country/country-flag.css">
    <!--Fontawsome all min Css-->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!--Main custom Css-->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
</head>